@model AlarmClock.WebApp.Models.AccountViewModels.LoginViewModel
@{ViewData["Title"] = "Se connecter via spi.AlarmClock"; }

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" id="login" asp-action="Login" method="post">
    @if (!ViewContext.ViewData.ModelState.IsValid) {
    <div asp-validation-summary="All"></div>
    }

    <div class="field-email active">
        <i class="fas fa-at"></i>
        <input asp-for="Email" type="email" placeholder="Enter email adress" required />
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="field-password inactive">
        <i class="fas fa-key"></i>
        <input asp-for="Password" type="password" placeholder="Enter password" required />
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="field-send inactive">
        <label onclick="document.getElementById('login').submit()">
            Send
        </label>
    </div>

    <div class="register">
        <a asp-action="Register">
            <i class="fas fa-user-plus"></i>
        </a>
    </div>
</form>
