@model AlarmClock.WebApp.Models.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Créer un nouveau compte";
}

<div class="Title">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="Connect">
    <a asp-action="Login">
        Return to connection menu
    </a>
</div>

<form asp-controller="Account" asp-action="Register" method="post">
    @if (!ViewContext.ViewData.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="alert alert-danger"></div>
    }

    <div class="field-email active">
        <i class="fas fa-at"></i>
        <input asp-for="Email" type="email" placeholder="Please enter email" required />
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="field-pseudo inactive">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-user"></i>
        <input asp-for="Pseudo" placeholder="Please enter pseudo" required />
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="field-firstname inactive">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-user"></i>
        <input asp-for="FirstName" placeholder="Please enter firstname" required />
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="field-lastname inactive">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-user"></i>
        <input asp-for="LastName" placeholder="Please enter lastname" required />
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="field-birthdate inactive">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-calendar-alt"></i>
        <input type="date" asp-for="BirthDate" required />
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="field-password inactive">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-key"></i>
        <input asp-for="Password" placeholder="Please enter password" required />
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="field-passwordcheck inactive">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-key"></i>
        <input asp-for="ConfirmPassword" placeholder="Please confirm password" required />
        <i class="fas fa-chevron-right"></i>
    </div>

    <div class="field-send inactive">
        <i class="fas fa-chevron-left"></i>
        <button type="submit">Register</button>
    </div>
</form>
